---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
  <div style="height: 100px"></div>
  <section class="row flex-column flex-lg-row bg-black g-0">
    <div class="col bg-warning" style="font-size: 44px">
      Whereas disregard and contempt for human rights have resulted
    </div>
    <div class="col bg-primary">column 2</div>
    <div class="col bg-danger">column 3</div>
  </section>
</BaseLayout>
