---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
    <div class="bigger">
        <div class="container-sm">
            <div class="custom-control custom-radio">
                <input
                    type="radio"
                    id="customRadio1"
                    name="customRadio"
                    class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadio1"
                    >Toggle this custom radio</label
                >
            </div>
            <div class="custom-control custom-radio">
                <input
                    type="radio"
                    id="customRadio2"
                    name="customRadio"
                    class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadio2"
                    >Or toggle this other custom radio</label
                >
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .bigger {
        height: 800px;
        background-color: antiquewhite;
    }

    .custom-control-input {
        width: 32px;
        height: 32px;
        background: white;
    }
</style>
