---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
    <div class="nav-spacer"></div>

    <main>
        <div id="name"></div>
    </main>

    <form action="/playground">
        <button class="btn btn-primary" id="delBtn">delete localstorage</button>
    </form>
    <form action="/playground">
        <button class="btn btn-primary" id="addBtn">add localstorage</button>
    </form>
</BaseLayout>

<script>
    const item = localStorage.getItem("domba");
    console.log(item);

    const injectText = document.getElementById("name");

    item
        ? (injectText.innerHTML = item)
        : (injectText.innerHTML = "tidak ada item di localstorage");

    const delBtn = document.getElementById("delBtn");

    delBtn.addEventListener("click", () => {
        localStorage.removeItem("domba");
    });

    const addBtn = document.getElementById("addBtn");

    addBtn.addEventListener("click", () => {
        localStorage.setItem("domba", "Cross Dorper");
    });
</script>
