---
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout>
  <div style="height: 92px"></div>
  <section class="row flex-column flex-lg-row g-0 p-3">
    <div
      class="display-lg text-blood | col col-lg-12 p-3 border-top border-bottom"
    >
      Display-lg
    </div>

    <div
      class="display-base text-blood | col col-lg-12 p-3 border-top border-bottom"
    >
      Display-base
    </div>
    <div
      class="title-xl | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Title-xl
    </div>
    <div
      class="title-lg | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Title-lg
    </div>
    <div
      class="title-base | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Title-base
    </div>
    <div
      class="eyebrow-lg | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Eyebrow-lg
    </div>
    <div
      class="eyebrow-base | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Eyebrow-base
    </div>
    <div
      class="eyebrow-sm | col col-lg-12 p-3 border-top border-bottom text-blood"
    >
      Eyebrow-sm
    </div>
    <div class="col col-lg-12 p-3 border-top border-bottom">
      <p class="tracking-wide">
        Paragraph tracking wide <br />
         Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
        assumenda, exercitationem dolores temporibus deserunt ad repudiandae?
        Deleniti mollitia repudiandae nemo!
      </p>
    </div>
    <div class="col col-lg-12 p-3 border-top border-bottom">
      <p class="subtext text-gold">Subtext</p>
    </div>
  </section>
</BaseLayout>
