---
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout pageTitle="User Dashboard">
    <main class="bg-marrow">
        <div
            class="dashboard-container max-w-xl py-large px-default row g-0 m-auto"
        >
            <div class="mb-5">
                <h1 class="body-lg text-blood">
                    Assalamu'alaikum Abdullah bin Uwais.
                </h1>
                <p>Selamat datang di dashboard pengguna QurbanPlus.</p>
            </div>
            <div
                class="dashboard-nav g-0 border border-bone d-flex flex-md-column justify-content-start h-fit"
            >
                <a class="link-black flex-1 h-100">
                    <div
                        class="user-nav user-nav-active d-flex border border-bone align-items-center"
                    >
                        <img
                            src="/assets/icons/ic-user-red.svg"
                            alt="icon profile"
                        />
                        <p>Profile</p>
                    </div>
                </a>

                <a href="/user/pesanan" class="link-black flex-1 h-100">
                    <div
                        class="user-nav d-flex border border-bone align-items-center"
                    >
                        <img
                            src="/assets/icons/ic-order-red.svg"
                            alt="icon profile"
                        />
                        <p>Pesanan</p>
                    </div>
                </a>
                <!-- 
                <a href="" class="link-black flex-1 h-100">
                    <div
                        class="user-nav d-flex border border-bone align-items-center"
                    >
                        <img
                            src="/assets/icons/ic-cart-red.svg"
                            alt="icon profile"
                        />
                        <p>Keranjang</p>
                    </div>
                </a> -->
            </div>

            <div class="content-container g-0 p-3 flex-1 position-relative">
                <button
                    class="btn btn-sm position-absolute"
                    style="top: 12px; right: 16px;"
                    id="btnEdit">Edit</button
                >

                <fieldset class="d-flex flex-column gap-3">
                    <div class="d-flex flex-column gap-4">
                        <div>
                            <label
                                for="exampleFormControlInput1"
                                class="form-label">Nama Lengkap</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="namaPemesan"
                                value="Abdullah bin Uwais"
                                disabled
                                required
                            />
                            <div class="invalid-feedback">
                                Nama belum ditulis
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column gap-4">
                        <div>
                            <label for="nomorWhatsapp" class="form-label"
                                >Nomor Whatsapp</label
                            >
                            <input
                                type="tel"
                                class="form-control"
                                id="nomorWhatsapp"
                                inputmode="numeric"
                                minlength="10"
                                placeholder="081212345678"
                                required
                                disabled
                            />
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div>
                            <label
                                for="exampleFormControlInput1"
                                class="form-label">Email</label
                            >
                            <input
                                type="email"
                                class="form-control"
                                id="alamatEmail"
                                value="abdullahbinuwais@gmail.com"
                                disabled
                                required
                            />
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <label class="form-label">Alamat</label>
                        <select
                            id="selectKota"
                            class="form-select"
                            aria-label="Default select example"
                            disabled
                        >
                            <option value="" selected>Pilih Kota</option>
                            <option value="KepulauanSeribu"
                                >Kepulauan Seribu</option
                            >
                            <option value="JakartaUtara">Jakarta Utara</option>
                            <option value="JakartaTimur">Jakarta Timur</option>
                            <option value="JakartaSelatan" selected
                                >Jakarta Selatan</option
                            >
                            <option value="JakartaBarat">Jakarta Barat</option>
                            <option value="Depok">Depok</option>
                            <option value="Bogor">Bogor</option>
                            <option value="Bekasi">Bekasi</option>
                            <option value="Tangerang">Tangerang</option>
                            <option value="TangerangSelatan"
                                >Tangerang Selatan</option
                            >
                        </select>
                    </div>

                    <div class="d-flex flex-column">
                        <select
                            id="selectKecamatan"
                            class="form-select"
                            aria-label="Default select example"
                            disabled
                        >
                            <option value="JAGAKARSA" selected>JAGAKARSA</option
                            >
                        </select>
                    </div>

                    <div>
                        <textarea
                            disabled
                            class="form-control"
                            id="alamatRumah"
                            rows="4"
                            >Jl. Yang Lurus No. 103, Rt.03 Rw.09, SRENGSENGSAWAH
                        </textarea>
                    </div>
                </fieldset>
                <button
                    id="btnSimpan"
                    class="btn btn-outline-success float-end mt-3"
                    style="display: none;">Simpan</button
                >
            </div>
        </div>
    </main>
</BaseLayout>

<script src="/custom-scripts/user-dashboard.js" defer></script>
<script src="/custom-scripts/input-kota.js" defer></script>
