---
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout pageTitle="User Login">
    <main class="bg-marrow">
        <div
            class="dashboard-container max-w-md py-large px-default row g-0 m-auto"
        >
            <div class="mb-5 d-flex align-items-center flex-column gap-3">
                <h1 class="display-base text-blood w-fit">Login Dashboard</h1>
                <p class="w-fit">
                    Belum punya akun? <a href="/user/signup" class="link-gold"
                        >Sign Up.</a
                    >
                </p>
            </div>

            <div>
                <fieldset class="d-flex flex-column gap-4">
                    <div>
                        <label for="exampleFormControlInput1" class="form-label"
                            >Email</label
                        >
                        <input
                            type="email"
                            class="form-control"
                            id="alamatEmail"
                            value=""
                            placeholder="Email"
                            required
                        />
                    </div>

                    <div>
                        <label for="passwordUser" class="form-label"
                            >Password</label
                        >
                        <input
                            type="password"
                            class="form-control"
                            id="passwordUser"
                            value=""
                            placeholder="Password"
                            required
                        />
                    </div>

                    <form action="/user">
                        <button class="btn btn-primary w-full">LOG IN</button>
                    </form>

                    <div class="d-flex justify-content-center">
                        <a href="/user/lupa-password" class="link-gold"
                            >Lupa password?</a
                        >
                    </div>
                </fieldset>
            </div>
        </div>
    </main>
</BaseLayout>
