---

---

<footer class="bg-gold text-bone relative">
    <!-- <div class="layer w-100 h-100 texture-lg z-0 opacity-5"></div> -->

    <div class="row max-w-md g-0 mx-auto z-2 relative">
        <div class="d-flex place-center pt-3">
            <img
                src="/assets/goat-head-bone.svg"
                alt="Alternative logo of QurbanPlus"
                class="goathead"
            />
        </div>
        <div class="row text-center py-5">
            <p class="eyebrow-sm">Informasi Melalui Whatsapp</p>
            <a
                href="https://wa.me/+62081293150101?text=Assalamualaikum%20admin%20QurbanPlus"
                class="link-bone title-xl"
                target="_blank"
                title="Hubungin admin QurbanPlus via whatsapp untuk informasi lebih lanjut."
            >
                081293150101</a
            >
        </div>
        <div class="row place-center text-center py-5 border-top">
            <p class="eyebrow-sm pb-2">Alamat Kantor</p>
            <a
                href="https://maps.app.goo.gl/rsqbdMHsseceyMKX9"
                target="_blank"
                class="link-bone"
            >
                <p>
                    Jl. Pejaten Barat II No.20, RT.3/RW.8, Pejaten Barat, Kec.
                    Ps. Minggu, Kota Jakarta Selatan, DKI Jakarta 12510
                </p>
            </a>
        </div>
        <div class="row border-top border-bottom py-5">
            <di class="col-6 d-flex place-center">
                <a
                    href="https://www.instagram.com"
                    class="link-bone title-lg"
                    target="_blank">INSTAGRAM</a
                >
            </di>
            <di class="col-6 d-flex place-center">
                <a
                    href="https://www.youtube.com"
                    class="link-bone title-lg"
                    target="_blank">YOUTUBE</a
                >
            </di>
        </div>
        <div class="d-flex place-center py-3">
            <p class="subtext text-bone">Copyright © 2023 QurbanPlus</p>
        </div>
    </div>
</footer>
